 .bar-button-arrow {
        margin: 0 5px;
        -webkit-box-ordinal-group: 8;
        -webkit-order: 7;
        -ms-flex-order: 7;
        order: 7;
        min-width: 30px;
        background-color: transparent;
        font-size: 1.7em;
    }   