ion-item-divider {
    font-size: 20px !important;
    color : #1172ad !important;

}

ion-item {
    height: 60px !important;


    .directorty-emp-name {
        text-transform: capitalize !important;
        font-size: 16px;
    }

    .directorty-emp-number {
        font-size: 13px;
        color : #1172ad;
    }

    .directory-info-list-cont {
        margin-left: 60px; 
        height: 59px;
        padding-top: 10px;
    }

    .mngr-todo-item-pp{
        bottom: 5px !important;
    }
}