ion-content{
    --ion-background-color:#1272ae;
}

.new-login {
    width: 100%;
    input {
        height: 100%;
        // margin-top: 4px;
        width: 80%;
        margin-left: 6px;
    }
}
.loginInput {
    background: transparent;
}
ion-icon {
    color: #ffffff;
    margin-top: 12px;
    font-size: 1.7em;
    margin-left: 15px;
    vertical-align: top;
}
.ashima-body-cont{
    background: rgb(22, 141, 193) !important;
    background: -moz-linear-gradient(left, rgba(22, 141, 193, 1) 0%,
        rgba(18, 111, 172, 1) 55%, rgba(14, 87, 155, 1) 100%) !important;
    background: -webkit-linear-gradient(left, rgba(22, 141, 193, 1) 0%,
        rgba(18, 111, 172, 1) 55%, rgba(14, 87, 155, 1) 100%) !important;
    background: linear-gradient(to right, rgba(22, 141, 193, 1) 0%,
        rgba(18, 111, 172, 1) 55%, rgba(14, 87, 155, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#168dc1',
        endColorstr='#0e579b', GradientType=1) !important;
}
.login-logo {     
    margin-bottom: 20px;
    max-width: 30%;
}
.div-logo {
    margin-top: 50px;
    @media (max-width : 320px) {
        margin-top: 20px;
    }        
}
.forgot-para {
    margin-bottom: 50px;
    @media (max-width : 320px) {
        margin-bottom: 20px;
    }
}
.forgot-btn {
    button {
        font-size: 15px;
    }
}
.login-btn {
    width: 100%;
    margin-top: -10px;
    margin-bottom: 40px;
}
.scroll-content {
    overflow-y: hidden !important;
}
.app-version {
    bottom: 10px;
    right: 10px;
    position: fixed;
    color: #168cc1;
}
.forgot-title {
    @media (max-width : 320px) {
        margin-bottom: 15px;
    }
}