<ion-content class="ashima-body-cont loginBg scroll-content ion-padding">
  <ion-grid>
      <ion-row>
          <ion-col col-12>
              <ion-row>
                <ion-col>
                  <div class="div-logo ion-text-center">
                      <img class="login-logo" src="assets/imgs/forgot-logo-ashima.png">
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                    <div class="forgot-para">
                        <span class="forgot-title">Forgot your password?</span>
                        <span class="forgot-sent">Don't worry! Just fill in your email and we'll</span>
                        <span class="forgot-sent">help you reset your password</span>
                      </div>
                </ion-col>
              </ion-row>
              <form name="passwordRecoveryForm" id="passwordRecoveryForm" (ngSubmit)="submitForgetPass()" [formGroup]="creds">
                  <ion-row>
                    <ion-col>
                        <div class="new-login">
                          <ion-icon name="person"></ion-icon>
                          <input type="text" formControlName="id" id="email" class="loginInput item-input-override" placeholder="Email/Mobile" />
                        </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>
                          <div>
                            <button class="login-btn" type="submit">
                              Send Password Recovery Email
                            </button>
                          </div>
                      </ion-col>
                    </ion-row>
              </form>
              <ion-row>
                  <ion-col>
                      <div class="right forgot-btn">
                        <button type="button" defaultHref="/login" >
                          Back
                        </button>
                      </div>
                  </ion-col>
                </ion-row>
          </ion-col>
        </ion-row>
  </ion-grid>
  <div class="app-version">{{appVersion}}</div>
</ion-content>