<ion-header>
  <ion-toolbar color="ashima">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Commissions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list [class.fade-out]="commissions" *ngIf="!commissions && fetchingAll">            
        <ion-item *ngFor="let number of fakeUsers">
            <ion-grid>
                <ion-row>
                <ion-col>
                    <p><ion-skeleton-text animated style="width: 90%"></ion-skeleton-text></p>
                    <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
                </ion-col>
                <ion-col>
                    <div class="ion-text-right" style="margin-left: 30px;margin-right: 5px;">
                        <p ><ion-skeleton-text animated ></ion-skeleton-text></p>
                        <p ><ion-skeleton-text animated ></ion-skeleton-text></p>
                    </div>
                    
                </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
    <ion-list>
        <div *ngIf="commissions">
            <div *ngFor="let comm of commissions">
                <ion-item lines="full">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <label>{{ comm.commission_plan || '~' }}</label><br>
                                <div class="paycheck-range">{{ (comm.schedule_date | date:'dd-MMM-yy') || '~' }}</div>
                            </ion-col>
                            <ion-col>
                                <ion-note class="capitalize timesheet-total-hrs-list net-pay" style="float: right;">
                                    {{ comm.amount || '0.00' }} Php<br>
                                    <span class="timesheet-hrs-word">{{ comm.commission_schedule || "~" }}</span>
                                </ion-note>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </div> 
        </div>
        <div *ngIf="!commissions && !fetchingAll" class="no-record-found-cont">
            <div class="no-record-found-icon">
                <span class="icon-no-record"></span>
            </div>
            <div class="no-record-holder">No data found.</div>
        </div>
    </ion-list>
</ion-content>
