ion-item-group {
    
    .item, .label {
        padding-bottom: 15px !important; 
    }

    .applicant-info {
        width: 60% !important;
    }

    .application-info {
        width: 30% !important;
    }
}
.header-ios .segment-div-mg {
    background: #f2f9fc !important;
}